.header__logo-img{
    width: 40px;
    height: 40px;
    background: var(--white-color);
    border-radius: 50%;
}

.header__logo{
    width: 100px;
    display: flex;
    justify-content: center;
}

.header__search {
    display: flex;
    height: var(--height-search);
    align-items: center;
}

.header__search-select{
    flex: 1;
    height: 40px;
    border-radius: 2px 0 0 2px;
    background: var(--white-color);
    position: relative;
}

.header__cart{
    width: 150px;
    text-align: center;
}

.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list{
    display: block;
}

.header__cart-icon{
    font-size: 2.2rem;
    color: var(--white-color);
}

/* Focus */

.header__search-input:focus ~ .header__search-info{
    display: block;
}

.header__search-input{
    flex: 1;
    width: 100%;
    border: none;
    height: 40px;
    outline: none;
    background: none;
    padding: 0 16px;    
}

.header__search-btn{
    background: var(--primary-color);
    color: var(--white-color);
    height: 40px;
    font-weight: bold;
    border: solid;;
    border-radius: 0 2px 2px 0;
    width: 100px;
    cursor: pointer;
}

.header__search-btn:hover{
    background: var(--hover-btn-color);
}

.header__search-info{
    width: 100%;
    margin-top: 2px;
    border-radius: 2px;
    background: var(--white-color);
    position: absolute;
    top:100%;
    box-shadow: 0 1px 3px #999;
    display: none;
}

.header__search-item{
    width: 100%;
    display: flex;
    border-radius: 2px;
    padding: 8px 12px;
    text-decoration: none;
    cursor: pointer;
}

.header__search-item:hover{
    background: var(--hover-row-color);
}

.header__search-heading{
    margin: 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
    cursor:default;
}

.header__search-previous {
    flex: 1;
}

.header__search-del {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__cart-list{
    position: absolute;
    top: 140%;
    right: -10px;
    width: 300px;
    height: 200px;
    background: var(--white-color);
    box-shadow: 0 2px 10px #999;
    border-radius: 2px;
    display: none;
    cursor: default;
    animation: fadeIn ease-in 0.2s;
}

.header__cart-list::after{
    content: "";
    position: absolute;
    border-width: 20px 30px;
    right: 4px;
    top: -30px;
    cursor: pointer;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-no-list{
    padding: 28px 0;
}

.header__cart-no-list > .header__cart-no-cart-img,
.header__cart-no-list >.header__cart-list-cart-mess{
    display: block;
    margin-inline: auto;
}

.header__cart-no-cart-img{
    width: 50%;
    height: 90%;
    opacity: 0.2;
    display: none;
}

.header__cart-list-cart-mess{
    display: none;
    font-size: 1.4rem;
    margin-top: 12px;
}

.header__cart-notice{
    position: absolute;
    padding: 2px 4px;
    font-size: 16px;
    top: -12px;
    right: 0px;
    line-height: 1.2rem;
    padding: 2px 8px;
    border-radius: 10px;
    background: var(--white-color);
    color: var(--primary-color);
}

.header__cart-heading{
    text-align: left;
    margin: 8px;
    color: #999;
}

.header__cart-item{
    display: flex;
}

.header__cart-item:hover{
    background: var(--hover-row-color);
}

.header__cart-img{
    width: 42px;
    height: 42px;
    margin: 12px;
}

.header__cart-img > img{
    width: 100%;
    height: 100%;
}

.header__cart-item-content{
    display: flex;
    flex: 1;
    margin: 12px;
    flex-direction: column;
    justify-content: center;
}

.header__cart-item-info{
    display: flex;
    justify-content: space-between;
}

.header__cart-item-name{
    font-weight: 400;
    color: var(--black-color);
}
.header__cart-item-price{
    color: var(--primary-color);
}
.header__cart-item-multily{
    color: #999;
}
.header__cart-item-qnt{
    color: #999;
}

.header__cart-item-body{
    display: flex;
    justify-content: space-between;
}

.header__cart-item-des{
    color: #999;
}

.header__cart-item-del{
    color: var(--black-color);
    cursor: pointer;
}

.header__cart-item-del:hover{
    color: var(--primary-color);
}

.header__cart-btn{
    background: var(--primary-color);
    color: var(--white-color);
    float: right;
    margin: 0 12px;
    border: none;
    padding: 6px;
    border-radius: 2px;
}

.header__cart-btn:hover{
    background: var(--hover-btn-color);
}