.header{
    height: 120px;
    background-image: linear-gradient(0, #b52315, #d72b2b);
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__nav-list{
    padding-left: 0;
}

.header__nav-item{
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
    margin: 8px;
    position: relative;
}

.header__nav-icon{
    font-size: 18px;
}

.header__nav-item:hover{
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}

.header__nav-item--strong{
    font-weight: 500;
}

.header__nav-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 16px;
    background-color: #FB9086;
    right: -9px;
    top:50%;
    transform: translateY(-50%);
}

.header__qr{
    width: 130px;
    position: absolute;
    left: 0;
    top: 130%;
    background-color: var(--white-color);
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .3s;
}

.header__qr::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 30%;
    top:-10px;
    left:0;
}

/* áp dụng cho header__qr khi hover  header__has-qr*/
.header__has-qr:hover .header__qr{
    display: block;
}

.header__qr-img{
    width: 100%;
}

.header__qr-download-img{
    height: 23px;
}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
}

.header__notice{
    position: absolute;
    top: 51px;
    width: 200px;
    left: 50%;
    width: 404px;
    background-color: var(--white-color);
    flex-direction: column;
    /* Định vị tâm */
    transform-origin: top right;
    animation: headerNotice ease-in 0.2s;
    display: none;
}

.header__notice::before{
    content: "";
    border-width: 30px;
    border-style:  solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -45px;
    right: 0px;
}

.header__has-notice:hover .header__notice{
    display: block;
}

@keyframes headerNotice {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

.header__notice-header{
    cursor: default;
}

.header__notice-header h3{
    color: #666;
    margin: 0;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}

.header__notice-link--viewed{
    background-color: rgba(215,43,43, 0.08);
}

.header__notice-link{
    padding-left: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 100%;
    justify-content: space-evenly;
}

.header__notice-link:hover{
    background: #f7f7f7;
}

.header__notice-img{
    width: 48px;
    height: 30px;
}

.header__notice-info{
    width: 60%;
    margin-left: 12px;
}

.header__notice-info-name{
    display: block;
    font-size: 14px;
    color: var(--black-color);
    font-weight: 400;
    line-height: 1.8;
}

.header__notice-info-des{
    display: block;
    font-size: 12px;
    color: #756FE3;
}

.header__notice-footer{
    text-align: center;
}

.header__notice-all{
    text-decoration: none;
    padding: 4px 16px;
    color: var(--black-color);
    padding-block: 8px;
    cursor: pointer;
}

.auth-form{
    padding: 0 20px;
    width: 100%;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--black-color);
}

.auth-form__switch{
    font-size: 1.6rem;
    color: var(--primary-color);
}

.auth-form__switch:hover{
    cursor: pointer;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--black-color);
    border-radius: 2px;
}

.auth-form__input:focus{
    border-color: #888;
}

.auth-form__aside{
    margin-top: 20px;
    font-size: 1.2rem;
}

.auth-form__policy-text{
    color: var(--primary-color);
}

.auth-form__controls{
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls > button{
    height: 36px;
    justify-content: center;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

.auth-form__controls-register, 
.auth-form__controls-login{
    background: var(--primary-color);
    color: var(--white-color);
    margin-left: 5px;
}

.auth-form__social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.auth-form__controls--with-icon-login{
    background: #f5f5f5;
    margin-block: 5px;
    border-radius: 2px;
    height: 30px;
    align-content: center;
}

.auth-form__controls--with-icon{
    background: #f5f5f5;
    padding: 8px;
    margin-block: 5px;
    border-radius: 2px;
}

.auth-form__controls-facebook{
    color: var(--white-color);
    background: #3A5A98;
    width: 48%;
}

.auth-form__controls-google{
    color:#666;
    width: 48%;
}

.auth-form__controls--with-icon-login{
    width: 30%;
}


.auth-form__action{
    display: flex;
    justify-content: flex-end;
}

.auth-form__action-forget{
    color: var(--primary-color);
}

.auth-form__action-help{
    margin-left: 10px;
}

.auth-form__controls-sms{
    background: #10850a;
    color: white;
}